body {
    background-color: black;
    /* overflow: hidden */
}

div {
    width: 250px;
    height: 250px;
    background-color: peachpuff;
    margin-top: 5px
}

div:nth-child(6) {
    background-color: palevioletred;
}